$blue: #023047;
$black:#212529;
$red: #ef233c;
$white:#f1faee;


/**/
$dark-blue: hsl(216, 100%, 4%);
$darkblue: #001219;
$yellow: hsl(50, 100%, 52%);
$dark-yellow: hsl(46, 100%, 50%);

$gray-white:#ffffff;